
<div class="menu">
    {% if page.title != 'Homepage' %}
        <div>
            <a href="/">Inicio</a>
        </div>
    {% endif %}
    {% if page.title != 'Extensiones' %}
        <div>
            <a href="/extensions">Extensiones</a>
        </div>
    {% endif %}
    {% if page.title != 'Reference Sheet' %}
        <div>
            <a href="/reference">Reference Sheet</a>
        </div>
    {% endif %}
    {% if page.title != 'Assets' %}
        <div>
            <a href="/assets">Assets</a>
        </div>
    {% endif %}
    {% if page.title != 'Catoooorse, el programa de rol' %}
        <div>
            <a href="/catoooorse">Catoooorse</a>
        </div>
    {% endif %}
</div>