<div class="social">
    <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include twitter.svg %}</span>&nbsp;<span class="username">{{ site.twitter_username }}</span></a>
    <a href="https://twitch.tv/{{ site.twitch_username }}"><span class="icon icon--twitch">{% include twitch.svg %}</span>&nbsp;<span class="username">{{ site.twitch_username }}</span></a>
    <a href="https://discord.gg/{{ site.discord_server }}"><span class="icon icon--discord">{% include discord.svg %}</span>&nbsp;<span class="username">Discord Server</span></a>
    <a href="https://youtube.com/channel/{{ site.youtube_username }}"><span class="icon icon--youtube">{% include youtube.svg %}</span>&nbsp;<span class="username">{{ site.title }}</span></a>
    <a href="https://instagram.com/{{ site.instagram_username }}"><span class="icon icon--instagram">{% include instagram.svg %}</span>&nbsp;<span class="username">{{ site.instagram_username }}</span></a>
    <a href="https://gitlab.com/{{ site.gitlab_username }}"><span class="icon icon--gitlab">{% include gitlab.svg %}</span>&nbsp;<span class="username">{{ site.gitlab_username }}</span></a>
    <a href="https://ko-fi.com/{{ site.ko-fi_username }}"><img src="img/kofi.png" class="icon icon--ko-fi" alt="kofi" /><span class="username">{{ site.ko-fi_username }}</span></a>
    <a href="https://{{ site.redbubble_username }}.redbubble.com/"><img src="img/redbubble.png" class="icon icon--redbubble" alt="redbubble" /><span class="username">{{ site.redbubble_username }}</span></a>
</div>