.content {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 60vw;
        min-height: 50vh;
        border-radius: $profile-border-radius;
        box-shadow: 0 0 25px #404040;
        background: linear-gradient(to right, $background-color-2, $background-color-1);
        display: flex;
        flex-wrap: wrap;
        margin: 15px 0;

        @include media-query($on-laptop) {
            width: calc(100% - 40px);
            margin: 20px;
            flex-direction: column;
            align-items: center;
        }

        .menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            div {
                padding: 2px 5px;
            }
        }


        .profile {
            width: 550px;

            @include media-query($on-laptop) {
                max-width: 100%;
            }

            img {
                border-top-left-radius: $profile-border-radius;
                border-bottom-left-radius: $profile-border-radius;
            }
        }

        &.no-pic {
            flex-direction: column;

            .description {
                width: calc(100% - 20px);
            }
        }


        .description {
            padding: 8px;
            width: calc(100% - 566px);

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media-query($on-laptop) {
                width: calc(100% - 20px);
            }

            .text {
                display: flex;
                align-items: center;
                height: 100%;
            }

            .social {
                font-size: 32px;
                text-align: center;

                @include media-query($on-laptop) {
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

@media print {
    .card {
        width: 100% !important;
        margin: 0px !important;
        border-radius: 0px !important;
        box-shadow: none !important;
    }

    .menu, .social {
        display: none !important;
        visibility: hidden !important;
    }
}