<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="content">
      <div class="card no-pic">
        {% include menu.html %}
        <div class="description">
            <div class="text">
              <div class="center">
                {{ content }}
              </div>
            </div>
            {% include social.html %}
        </div>
      </div>
    </div>

  </body>

</html>
